Repository neutrinoceros/yt_idefix, pull requests merged in 2023-04, with the labels that each got.

#251 BUG: do not normalise field names to upper case in Idefix vtk
  yt_idefix/_io/vtk_io.py
  yt_idefix/data_structures.py
Labels: bug, code: Idefix

#245 BUG: add warning and error messages for missing inifile
  tests/data/pluto_disk_planet/incorrect_inifile
  tests/test_vtk.py
  yt_idefix/data_structures.py
Labels: enhancement, code: Pluto

#219 TST: add XDMF test data
  tests/data/pluto_orszag_tang/data.0010.dbl.h5
  tests/data/pluto_orszag_tang/data.0010.dbl.xmf
  tests/data/pluto_orszag_tang/data.0010.flt.h5
  tests/data/pluto_orszag_tang/data.0010.flt.xmf
  tests/data/pluto_orszag_tang/data.0010.vtk
  tests/data/pluto_orszag_tang/dbl.h5.out
  tests/data/pluto_orszag_tang/definitions.h
  tests/data/pluto_orszag_tang/flt.h5.out
  tests/data/pluto_orszag_tang/grid.out
  tests/data/pluto_orszag_tang/meta.yaml
  tests/data/pluto_orszag_tang/pluto.ini
  tests/data/pluto_orszag_tang/vtk.out
Labels: code: Pluto, io: hdf5

#254 UX: rephrase a warning
  tests/test_vtk.py
  yt_idefix/data_structures.py
Labels: code: Pluto

#256 DOC: document supported additional arguments to `yt.load`
  README.md
Labels: documentation
